*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
travis_screenshot2.png
travis_screenshot.png
Lab4.pdf
Lab4.docx
/app/google-services.json
*.mkv
mobilszoft.zip
*.mp4
*.zip
